{% extends "layout.html" %}
{% block page_title %}Hello, I am Brainstorme!{% endblock %}


<!--{% block body %}-->
    <!--{{ super() }}-->
        <!--{% if error %}-->
            <!--<div class="alert alert-warning" role="alert">-->
              <!--<strong>Error!</strong> {{ error }}-->
            <!--</div>-->
        <!--{% elif success %}-->
            <!--<div class="alert alert-success" role="alert">-->
              <!--{{ success }}-->
            <!--</div>-->
        <!--{% endif %}-->
<br>
<div class="example">
    I am here to help you with brainstorming, either to create a piece of arts, design a product, write a paper or solve a problem. <br/>
    <!--<br>-->
    <!--I am not intelligent like a chatbot, but I am here for you. <br/>-->
    <!--<br>-->
    <!--We all have that crazy friend, but their silly ideas sometimes may lead you to think about things differently. <br/>-->
    <!--<br>-->
    <!--And I hope to be that friend of yours <3 <br/>-->
    <!--<br>-->
</div>
    <!--<h3>Please insert a query</h3>-->
    <!--<h4>Query contains at least 1 word and at most 10 words</h4>-->
<!--<p><a name="start"></a></p>-->

<br>

<!--<h3>-->
    <!--So, tell me, what's on your mind?-->
<!--</h3>-->
<!--<br>-->
<p>
    You can start by giving me just one key word, to understand better how I work. <br/>
    <br>
    Some good examples to try out:

<div class="row">
    <div class="col-md-3">
        <ul>
            <li>Ocean</li>
            <li>Flower</li>
            <li>Nature</li>
            <li>Warming</li>
            <li>Rain</li>
            <li>Street</li>
            <li>Economics</li>
            <li>Food</li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>Sport clothes</li>
            <li>Abstract art</li>
            <li>Christmas tree</li>
            <li>Red carpet</li>
            <li>Global warming</li>
            <li>Flying car</li>
        </ul>

    </div>
    <div class="col-md-3">
        <ul>
            <li>Design Christmas Card</li>
            <li>Write a love song</li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<!--<ul>-->
    <!--<li>Sport clothes</li>-->
    <!--<li>Abstract art</li>-->
    <!--<li>Ocean</li>-->
    <!--<li>Christmas tree</li>-->
    <!--<li>Flower</li>-->
    <!--<li>Nature</li>-->
    <!--<li>Warming</li>-->
    <!--<li>Rain</li>-->
    <!--<li>Street</li>-->
    <!--<li>Economics</li>-->
    <!--<li>Food</li>-->
    <!--<li>Red carpet</li>-->
    <!--<li>Driver</li>-->
    <!--<li>Sleep</li>-->
    <!--<li>Picture</li>-->

<!--</ul>-->
</p>
<br>

<div align="center">

        <!--<hr>-->

        <div class="form-group">
          <!--<label for="textArea" class="col-lg-1 control-label">Query</label>-->
          <!--<div align = "center" class="col-lg-8">-->
              <div align = "center">
          <form method="post">
              <div class="input-group">
                  <input class="form-control" placeholder="Which topic are you working on?" name="query"></input>
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-success">Search</button>
                  </span>
              </div>
          </form>
          </div>
        </div>
    </div>
<a href="/help/">Did I confuse you? </a>


<!--<p><a name="tutorial"></a></p>-->


<!--<font color="green"><h3>Step 1: Insert your query into the search box</h3></font>-->
<!--<img src="{{ url_for('static', filename='img/christmas_tree.png') }}" style="width:100%; opacity: 0.8">-->
<!--<br>-->
<!--<hr>-->
<!--<br>-->
<!--<font color="green"><h3>Step 2: Check out the suggestions for each key word you entered</h3></font>-->
<!--<img src="{{ url_for('static', filename='img/result.png') }}" style="width:100%; opacity: 0.8">-->
<!--<br>-->
<!--<hr>-->
<!--<br>-->
<!--<font color="green"><h3>Step 3: Hover on an icon to see the preview of the search results of a combination</h3></font>-->
<!--<img src="{{ url_for('static', filename='img/hover.png') }}" style="width:100%; opacity: 0.8">-->
<!--<br>-->
<!--<hr>-->
<!--<br>-->
<!--<font color="green"><h3>Step 4: Click on the icon to be directed to the corresponding page</h3></font>-->
<!--<img src="{{ url_for('static', filename='img/click.png') }}" style="width:100%; opacity: 0.8">-->
<!--<br>-->
<!--<hr>-->
<!--<br>-->
<!--<a href="#start"><h1>Ready to start? </h1></a>-->
<!--<hr>-->
<!--<br>-->











    <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
    <!--&lt;!&ndash; Indicators &ndash;&gt;-->
    <!--<ol class="carousel-indicators"  >-->
      <!--<li data-target="#myCarousel" data-slide-to="0" class="active" style="background:#C0C0C0;"></li>-->
      <!--<li data-target="#myCarousel" data-slide-to="1" style="background:#C0C0C0;"></li>-->
      <!--<li data-target="#myCarousel" data-slide-to="2" style="background:#C0C0C0;"></li>-->
    <!--</ol>-->

    <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
    <!--<div class="carousel-inner">-->

      <!--<div class="item active">-->
        <!--<img src="{{ url_for('static', filename='img/christmas_tree.png') }}" style="width:100%; opacity: 0.8">-->
        <!--<div class="carousel-caption" style="color:black;">-->
          <!--<h3>Step 1: Insert your query into the search box</h3>-->
          <!--&lt;!&ndash;<p>Enter a query</p>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="item">-->
          <!--&lt;!&ndash;<img src="{{ url_for('static', filename='img/suggestions.png') }}" style="width:100%;">&ndash;&gt;-->
          <!--<img src="{{ url_for('static', filename='img/result.png') }}" style="width:100%; opacity: 0.8">-->
        <!--&lt;!&ndash;<img src="chicago.jpg" alt="Chicago" style="width:50%;">&ndash;&gt;-->
        <!--<div class="carousel-caption" style="color:black;" >-->
          <!--<h3> Step 2: Look through the suggestions for each key word you entered</h3>-->
          <!--&lt;!&ndash;<p class="bg-info">Get the combinations</p>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="item">-->
          <!--&lt;!&ndash;<img src="{{ url_for('static', filename='img/suggestions.png') }}" style="width:100%;">&ndash;&gt;-->
          <!--<img src="{{ url_for('static', filename='img/hover.png') }}" style="width:100%; opacity: 0.8">-->
        <!--&lt;!&ndash;<img src="chicago.jpg" alt="Chicago" style="width:50%;">&ndash;&gt;-->
        <!--<div class="carousel-caption" style="color:black;" >-->
          <!--<h3> Step 3: Hover on the icon to see a preview of the search resultsd</h3>-->
          <!--&lt;!&ndash;<p class="bg-info">Get the combinations</p>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="item">-->
        <!--<img src="{{ url_for('static', filename='img/click.png') }}" style="width:100%; opacity: 0.6">-->
        <!--<div class="carousel-caption" style="color:black;">-->
          <!--<h3>Step 4: Click on the icon to be directed to the corresponding page</h3>-->
          <!--&lt;!&ndash;<p>Pick the one you like!</p>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->

    <!--&lt;!&ndash; Left and right controls &ndash;&gt;-->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
      <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
      <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
      <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
      <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
  <!--</div>-->




    <!--<img src="{{ url_for('static', filename='img/public.jpg') }}" class="img-circle" alt="Cinque Terre" width="304" height="236">-->
    <!--You can access this no matter whether you have logged in.-->
{% endblock %}