
<html>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.united.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<link href="https://rawgit.com/shaneapen/Image-Preview-for-Links/master/image_preview_for_links.css" rel="stylesheet">
<script type="text/javascript">
$(function() {
            $('#p1 a').miniPreview({ prefetch: 'pageload' });
            $('#p2 a').miniPreview({ prefetch: 'parenthover' });
            $('#p3 a').miniPreview({ prefetch: 'none' });
        });
</script>
<script src="https://rawgit.com/shaneapen/Image-Preview-for-Links/master/image_preview_for_links.js"></script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

<title>Creative Generator</title>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Creative Generator</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/public/">About</a></li>
            <li><a href="/help/">Help</a></li>
            {% if session.get("current_user", None) != None %}
	       <li><a href="/private/">My Note</a></li>
	    {% endif%}
            {% if session.get("current_user", None) == "ADMIN" %}
	      <li><a href="/admin">Admin Dashboard</a></li>
	    {% endif %}
        </ul>

        <!--<ul class="nav navbar-nav navbar-right">-->
        <!--{% if session.get("current_user", None) == None %}-->
                <!--<form action="/login" method="post" class="navbar-form navbar-right">-->
                    <!--<div class="form-group">-->
                      <!--<input type="text" name="id" placeholder="User Name" class="form-control">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                      <!--<input type="password" name="pw" placeholder="Password" class="form-control">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-success">Log In</button>-->
                <!--</form>-->
        <!--{% else %}-->
        <!--<li>-->
              <!--<a><b>{{ session.get("current_user") }}</b></a></li>-->
              <!--<li><a href="/logout"><b><u>Logout</u></b></a>-->
          <!--</li>-->
        <!--{% endif %}-->
        <!--</ul>-->
        </div>
                        
    </div>
    </nav>


<div class="container">
  
  <h1>{% block page_title %}{% endblock %}</h1>
  
  <p>{% block body %}{% endblock %}</p>

</div>


<!--<div class='container'>-->
<!--<hr>-->
<!--Developed by <a href='https://github.com/VyUng0711'>VY UNG</a>-->
<!--<a href="https://drive.google.com/file/d/1U003okiN1nobAQmzY5FJhmbqr89934UC/view?usp=sharing"><img-->
   <!--src="{{ url_for('static', filename='img/proposal.png') }}"-->
   <!--width="50"-->
   <!--height="50"-->
   <!--border="0"-->
   <!--align="right"-->
   <!--alt="Academic Proposal"-->
   <!--title="Academic Proposal"></a>-->
</div>


</html>
